@media only screen and (max-width: 576px) {
  .about-text {
    width: 90%;
    margin: auto;
  }
  .contact-way {
    font-size: 12px !important;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    margin-top: -16px;
    padding: 10px;
  }
  .contact-way {
    font-size: 14px;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding-top: 10px !important;
  }
  .navbar .navbar-nav li {
    padding: 5px;
  }
  .project-img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #e2e2e2;
            box-shadow: 0 0 20px #e2e2e2;
  }
  .contact-way {
    font-size: 15px;
    margin-left: 40px;
  }
  form {
    margin-top: -5px;
  }
}

@font-face {
  font-family: IranSans;
  src: url(../font/IRANSansWeb.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: IranSans;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, a, ul {
  direction: rtl;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.alert-danger {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar {
  -webkit-transition: all .4s;
  transition: all .4s;
  height: 90px;
}

.navbar .navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.carousel-item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.carousel .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  cursor: default;
  text-shadow: 1px  5px 10px #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.carousel .layer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carousel .layer .box p {
  width: 80%;
}

.carousel .layer .box li {
  list-style: none;
  line-height: 2rem;
}

.carousel .layer-1 {
  background: rgba(255, 199, 39, 0.6);
}

.carousel .layer-2 {
  background: rgba(146, 227, 169, 0.6);
}

.carousel .layer-3 {
  background: rgba(255, 114, 94, 0.6);
}

.contact-way {
  width: 100%;
  height: 40px;
  background: #bebdbd;
  -webkit-box-shadow: 0 0 5px #bebdbd;
          box-shadow: 0 0 5px #bebdbd;
  border-radius: 5px;
  color: #fff;
  line-height: 40px;
  position: relative;
}

.contact-way .text-left {
  position: absolute;
  left: 10%;
}

.contact-way .text-right {
  position: absolute;
  right: 10%;
}

.form .form-control:focus {
  color: #8e8e8e;
  background-color: #f8f7f7;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form input, .form textarea {
  border: 1px solid #dddddd;
  direction: rtl;
  background: #f8f7f7;
  color: #8e8e8e;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #acacac;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #acacac;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #acacac;
}

.form input::placeholder, .form textarea::placeholder {
  color: #acacac;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #8787C9;
  text-decoration: none;
}

@-webkit-keyframes fack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.7) !important;
    -webkit-backdrop-filter: blur(2px) !important;
            backdrop-filter: blur(2px) !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
  }
  .project-img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px #e2e2e2;
            box-shadow: 0 0 7px #e2e2e2;
  }
}
/*# sourceMappingURL=main.css.map */