//Navbar
.navbar {
  transition: all .4s;
  height: 90px;
  .navbar-brand{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

// Contact ways
.contact-way{
  position: relative;
  white-space: nowrap;
  &::before{
    content: '';
    position: absolute;
    right: -10px;
    width: 2px;
    height: 100px;
    background: #999;
  }
}

// Form
.form{
  .form-control:focus{color: #8e8e8e;background-color:#f8f7f7;border-color: none;outline:0;box-shadow:unset}
  input,textarea{
    border: 1px solid rgb(221, 221, 221);
    direction: rtl;
    background: #f8f7f7;
    color: #8e8e8e;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    margin-top: 10%;
    &::placeholder{
      color: rgb(172, 172, 172);
    }
  }
}

//Footer
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  a{
    color: #8787C9;
    text-decoration: none;
  }
}