//Navbar
.navbar {
  transition: all .4s;
  height: 90px;
}

// Contact ways
.contact-way{
  position: relative;
  font-size: 15px;
  &::before{
    content: '';
    position: absolute;
    right: -10px;
    width: 2px;
    height: 100px;
    background: rgb(14, 10, 10);
  }
}

// Form
.form{
  .form-control:focus{color: #8e8e8e;background-color:#f8f7f7;border-color: none;outline:0;box-shadow:unset}
  input,textarea{
    border: 0;
    direction: rtl;
    background: #f8f7f7;
    color: #8e8e8e;
    &::placeholder{
      color: rgb(172, 172, 172);
    }
  }
  .alert{
    opacity: 0;
    transition: .4s;
  }
}

//Footer
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  a{
    color: #8787C9;
    text-decoration: none;
  }
}