@media only screen and (min-width: 992px) {
    //Navbar
    .navbar{
        padding-top: 10px !important;
        .navbar-brand{
            .logo{
                margin-top: 15px;
            }
        }
        .navbar-nav{
            li{
                padding: 5px;
            }
        }
    }

    //Contact image
    .project-img{
        margin-right: -15px !important;
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0 0 20px rgb(226, 226, 226);
    }
}