@media only screen and (min-width: 992px) {
    //Navbar
    .navbar{
        padding-top: 10px !important;
        .navbar-nav{
            li{
                padding: 5px;
            }
        }
    }

    //Contact image
    .project-img{
        border-radius: 5px;
        box-shadow: 0 0 20px rgb(226, 226, 226);
    }

    .contact-way{
        font-size: 15px;
    }

    form{
        margin-top: -5px;
    }
}