@media only screen and (max-width: 576px) {

    //About
    .about-text{
        width: 90%;
        margin: auto;
    }

    .contact-way{
        font-size: 12px !important;
        margin-left: 40px;
    }

}