@media only screen and (max-width: 991px){
    //Navbar
    .navbar-collapse{
        margin-top: -16px;
        padding: 10px;
    }

    .contact-way{
        font-size: 14px;
        margin-left: 40px;
    }

}