@media only screen and (max-width: 576px) {
  .about-text {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    margin-top: -16px;
    padding: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding-top: 10px !important;
  }
  .navbar .navbar-brand .logo {
    margin-top: 15px;
  }
  .navbar .navbar-nav li {
    padding: 5px;
  }
  .project-img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #e2e2e2;
            box-shadow: 0 0 20px #e2e2e2;
  }
}

@font-face {
  font-family: IranSans;
  src: url(../font/IRANSansWeb.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: IranSans;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, a, ul {
  direction: rtl;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.navbar {
  -webkit-transition: all .4s;
  transition: all .4s;
  height: 90px;
}

.contact-way {
  position: relative;
  font-size: 15px;
}

.contact-way::before {
  content: '';
  position: absolute;
  right: -10px;
  width: 2px;
  height: 100px;
  background: #0e0a0a;
}

.form .form-control:focus {
  color: #8e8e8e;
  background-color: #f8f7f7;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form input, .form textarea {
  border: 0;
  direction: rtl;
  background: #f8f7f7;
  color: #8e8e8e;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #acacac;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #acacac;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #acacac;
}

.form input::placeholder, .form textarea::placeholder {
  color: #acacac;
}

.form .alert {
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #8787C9;
  text-decoration: none;
}

@-webkit-keyframes fack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.7) !important;
    -webkit-backdrop-filter: blur(2px) !important;
            backdrop-filter: blur(2px) !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
  }
  .project-img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px #e2e2e2;
            box-shadow: 0 0 7px #e2e2e2;
  }
}
/*# sourceMappingURL=main.css.map */