// Header
.header {
  header {
    height: 80px;

    .nav {
      background: #f1f1f1;
      box-shadow: 0 0 7px #ccc;
      height: 100vh;
      border-radius: 1.25rem 1.25rem 0 0;

      .nav-item {
        height: 60px;
        width: 60px;
        margin: 10px 10px;
        padding: 5px;
        border: 1px solid transparent;
        box-shadow: $neo;
        border-radius: 10px;
        transition: 0.3s;
        overflow: hidden;

        a {
          position: relative;
          width: 100%;
          height: 100%;

          span {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
            transition: 0.3s;
          }

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            transition: 0.3s;
          }
        }

        &:hover,
        &.active {
          box-shadow: 3px 3px 3px $lightgray inset, -3px -3px 3px #fff inset;

          span {
            top: 50%;
          }

          i {
            top: 70px;
          }
        }
      }
    }
  }
}

//Main
section {
  display: none;
  animation: slide 0.4s linear;

  &.active {
    display: block;
  }
}

// Hero
.hero {
  .man-img {
    width: 75%;
    border-radius: 7% 20% 7% 20%;
    box-shadow: $neo;
  }

  .shapes {
    .wrapper {
      position: absolute;
      right: 50px;
      top: 50px;
      animation: rotate 10s linear infinite;

      &:nth-child(1) {
        width: 150px;
        height: 150px;
      }

      &:nth-child(2) {
        top: 100px;
        width: 80%;
        height: 60%;
      }
    }

    .circle {
      position: absolute;

      &-1 {
        right: 20px;
        top: 100px;
        width: 100px;
        height: 100px;
        background: rgba($color: #f2463d, $alpha: 0.7);
      }

      &-2 {
        top: 100px;
        width: 50px;
        height: 50px;
        background: rgba($color: #ffdd7d, $alpha: 0.7);
      }

      &-3 {
        left: 60px;
        top: 70px;
        width: 80%;
        height: 80%;
        border-radius: 50px 30px 70px 150px;
        background: #f1f1f1;
        z-index: -1;
        animation: rotate 15s linear infinite;
      }
    }
  }

  .header {
    font-family: Nastaliq;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

//About
.about {
  .border-img {
    width: 60%;
    border-radius: 1.25rem;
    border: 5px solid #f4f5f6;
    box-shadow: $neo;
  }

  img {
    &:first-child {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .info {
    .col-6 {
      padding-right: 13%;
    }
  }
}

//Resume
.resume {
  .card {
    background: none;

    &-body {
      box-shadow: $neo;
      border-radius: 1rem;

      .experience {
        position: relative;

        p {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 3px;
          height: 100%;
          background: $base-color;
          border-radius: 5px;
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 30px;
          width: 15px;
          height: 15px;
          background: $base-color;
          border-radius: 50%;
          transform: translateX(40%);
        }
      }
    }
  }
}

// Service
.service {
  .border-img {
    img{
      border: 5px solid #f4f5f6;
      box-shadow: $neo;
    }
  }

  .item text,
  .item img {
    box-shadow: $neo;
  }
}

//Works & Blog
.works,
.blog {
  .work {
    position: relative;
    aspect-ratio: 1.5;

    @media only screen and (min-width: 992px) {
      width: 14.28%;
    }

    img {
      width: 90%;
      border: 7px solid transparent;
      border-radius: 1.25rem;
      box-shadow: $neo;

      &:hover + .layer {
        opacity: 1;
        width: 75%;
        height: 80%;
      }
    }

    .layer {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0;
      height: 0;
      transform: translate(-50%, -50%);
      border-radius: 1.25rem;
      background: rgba($color: $base-color, $alpha: 0.9);
      opacity: 0;
      transition: 0.3s;

      &:hover {
        opacity: 1;
        width: 75%;
        height: 80%;
      }

      div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        a {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

//Contact
#contact {
  form {
    input {
      height: 45px;
    }

    textarea {
      border-radius: 1.25rem;
    }

    input,
    textarea{
      border: 0;
      outline: 0;
      background: transparent;
      box-shadow: $neo-inset;
      transition: 0.3s;

      &:focus {
        background: #f1f1f1;
      }
    }

    button {
      width: 130px;
      height: 50px;
    }

    .captcha {
      canvas {
        box-shadow: 0 0 5px #ccc inset;
      }
    }
  }
}

//Gallery Modal
.gallery-modal {
  @include modal;

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: #eee;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .carousel {
    animation: zoom 0.2s ease-in;

    .carousel-item {
      background: #cecece;
      border-radius: 5px;

      .carousel-caption {
        background: #333333a1;
        padding: 7px;
        border-radius: 4px;

        p {
          margin-bottom: 0;
        }
      }

      img {
        aspect-ratio: 1.6;
      }
    }
  }
}

//Work Modal
#workModal {
  @include modal;

  .col-12 {
    background: #f4f5f6;
    height: 90%;
    overflow: auto;

    .head {
      background: #f4f5f6;
      position: sticky;
      top: 0;

      .close {
        position: relative;
        width: 40px;
        height: 40px;
        background: #eee;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: $lightgray;
        }

        i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .poster {
      img {
        padding: 5px;
        box-shadow: $neo;
        border-radius: 2rem;
      }
    }
  }
}

.section-control {
  div {
    width: 40px;
    height: 40px;
    background: $base-color;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $base-color-dark;
    }
  }

  .prev-section {
    right: 0;
  }

  .next-section {
    left: 0;
  }
}
